:root {
    --white: #ffffff;
    --black: #000000;
    --near-black: #555555;
    --silver-lake-blue: #628bbf;
    --isabelline: #f4edea;
    --indian-red: #b4656f;
    --claret: #820933;
    --grid-width: 1200px;
    --grid-gap: 24px;
    --sidebar-width: 368px;
}

body {
    background-color: var(--indian-red);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    overflow-y: scroll;
    padding-top: 64px;
    margin: 0;
    min-height: 100vh;
}

.tabs-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;

    &::after {
        background-color: var(--isabelline);
        content: '';
        height: 480px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .tabs-list {
        background-color: var(--white);
        border-radius: 8px;
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .tab {
            &:first-child label {
                border-radius: 8px 0 0 8px;
            }

            &:last-child label {
                border-radius: 0 8px 8px 0;
            }

            input[name=tab] {
                display: none;
            }

            label {
                align-items: center;
                color: var(--black);
                cursor: pointer;
                display: flex;
                padding: 8px 16px;
                transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
                user-select: none;

                &:hover {
                    background-color: rgba(from var(--claret) r g b / 1%);
                }

                &:focus {
                    outline: 2px solid var(--silver-lake-blue);
                    outline-offset: -4px;
                }

                svg {
                    fill: currentColor;
                    margin-right: 8px;
                    width: 20px;
                }
            }

            input:checked + label {
                background-color: var(--claret);
                color: var(--white);
                cursor: default;
            }
        }
    }
}

main {
    flex-grow: 1;
}

section {
    display: none;

    &.active {
        display: block;
    }
}

.intro {
    margin-bottom: 64px;
    text-align: center;

    .title {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: "Archivo Black", serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        height: 64px;
        justify-content: center;
        line-height: 40px;
        margin: 0;

        .small {
            font-family: "Lexend", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-size: 16px;
            font-style: normal;
            line-height: 24px;
        }
    }

    .search {
        display: inline-block;
        position: relative;
        
        .search-input {
            border: 0;
            border-radius: 24px;
            color: var(--black);
            font-family: "Lexend", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-size: 16px;
            font-style: normal;
            line-height: 48px;
            outline: 1px solid transparent;
            padding: 0 16px 0 52px;
            transition: outline 200ms ease-in-out;
            width: 480px;

            &::-ms-clear, &::-ms-reveal,
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
                width: 0;
                height: 0;
            }

            &:focus {
                color: var(--black);
                outline: 1px solid var(--silver-lake-blue);

                &+.search-icon {
                    fill: var(--black);
                }
            }

            &::placeholder {
                color: var(--near-black)
            }
        }
        
        .search-icon {
            fill: var(--near-black);
            height: 24px;
            left: 16px;
            position: absolute;
            top: 12px;
            transition: fill 200ms ease-in-out;
        }
    }
}

.empty-state {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;

    &.hidden {
        display: none;
    }

    p {
        margin: 0 0 8px;
    }

    svg {
        margin-bottom: 16px;
        width: 48px;

        path {
            stroke-width: 1px;
        }
    }
}

.signs-grid {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    margin: 0 auto 64px;
    padding: 0 24px;
    max-width: 1200px;

    &.hidden {
        display: none;
    }

    .sign {
        align-items: stretch;
        background-color: var(--white);
        border: 1px solid var(--black);
        display: flex;
        flex-direction: column;
        list-style-type: none;
        overflow: hidden;
        position: relative;
    
        .sign-header {
            border-bottom: 1px solid var(--black);
            box-sizing: border-box;
    
            .sign-name {
                box-sizing: border-box;
                display: block;
                font-family: "Lexend", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-size: 16px;
                font-style: normal;
                line-height: 24px;
                margin: 0;
                padding: 8px 72px 4px 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
    
            .sign-actions {
                display: flex;
                padding: 8px 8px 4px;
                position: absolute;
                right: 0;
                top: 0;
    
                .sign-action {
                    list-style-type: none;
    
                    .sign-action-button {
                        appearance: none;
                        background-color: var(--white);
                        border: 0;
                        cursor: pointer;
                        display: inline-block;
                        margin-left: 4px;
                        padding: 0;
                        transform: scale(1);
                        transition: all 150ms ease-in-out;
    
                        &:hover, &:focus {
                            outline: none;
                            transform: scale(1.4);
                        }
    
                        &.bookmark, &.info {
                            svg {
                                width: 24px
                            }
                        }
    
                        &.bookmark {
                            svg .fill {
                                fill: var(--white);
                                transition: all 100ms ease-in-out;
                            }

                            svg .stroke {
                                fill: var(--black);
                                transition: all 100ms ease-in-out;
                            }
    
                            &:hover, &:focus  {
                                outline: none;
                                
                                svg .stroke {
                                    fill: var(--silver-lake-blue);
                                }
                            }
                        }
    
                        &.info {
                            svg {
                                fill: var(--black);
                                transition: all 100ms ease-in-out;
                            }
    
                            &:hover, &:focus {
                                outline: none;

                                svg {
                                    fill: var(--silver-lake-blue);
                                }
                            }
                        }
    
                        &.bookmarked {
                            svg .fill, svg .stroke {
                                fill: var(--silver-lake-blue);
                            }
                        }
                    }
                }
            }
    
            .sign-regions {
                align-items: center;
                border-top: 1px solid var(--black);
                display: flex;
                position: relative;
    
                .sign-region-select {
                    appearance: none;
                    border: 0;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-family: "Lexend", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 24px;
                    overflow: hidden;
                    padding: 4px 56px 4px 12px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
    
                    &:disabled {
                        color: var(--near-black);
                        cursor: auto;
                        opacity: 1;
                    }
    
                    &:focus {
                        outline: 2px solid var(--silver-lake-blue);
                        outline-offset: -4px;
                    }
                }
    
                .sign-region-select-controls {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    font-family: "Lexend", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 24px;
                    padding: 0 4px;
                    pointer-events: none;
                    position: absolute;
                    top: 4px;
                    right: 8px;
    
                    .sign-region-select-no-of-signs {
                        margin-left: 4px;
                    }
    
                    svg {
                        width: 16px;
                    }
                }
            }
        }
    
        .sign-video {
            background: var(--silver-lake-blue);
            display: block;
            flex-grow: 1;
            height: 320px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }
}

footer {
    background-color: var(--isabelline);
    border-top: 1px solid var(--black);
    font-size: 12px;
    font-style: italic;
    padding: 16px 0;
    text-align: center;
}