:root {
    --white: #ffffff;
    --black: #000000;
    --silver-lake-blue: #628bbf;
    --isabelline: #f4edea;
    --indian-red: #b4656f;
    --claret: #820933;
    --grid-width: 1200px;
    --grid-gap: 24px;
}

body {
    background: linear-gradient(0deg, var(--indian-red) 75%, var(--isabelline) 75%);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.intro {
    margin-top: 80px;
    margin-bottom: 72px;
    text-align: center;

    .date {
        font-family: "Archivo Black", serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
    }

    h1 {
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 16px;
        font-style: normal;
        margin: 8px 0 0;
    }
}

.signs-grid {
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 0 auto 64px;
    padding: 0 24px;
    max-width: 1200px;

    .sign {
        align-items: stretch;
        background-color: var(--white);
        border: 1px solid var(--black);
        display: flex;
        flex-direction: column;
        list-style-type: none;
        overflow: hidden;

        .sign-header {
            border-bottom: 1px solid var(--black);
            box-sizing: border-box;

            .sign-name {
                box-sizing: border-box;
                display: block;
                font-family: "Lexend", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-size: 16px;
                font-style: normal;
                line-height: 24px;
                margin: 0;
                padding: 8px 12px 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .sign-regions {
                align-items: center;
                border-top: 1px solid var(--black);
                display: flex;
                position: relative;

                .sign-region-select {
                    appearance: none;
                    border: 0;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-family: "Lexend", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 24px;
                    overflow: hidden;
                    padding: 4px 56px 4px 12px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;

                    &:disabled {
                        color: var(--black);
                        cursor: auto;
                        opacity: 1;
                    }

                    &:focus {
                        outline: 0;
                    }
                }

                .sign-region-select-controls {
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    font-family: "Lexend", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 300;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 24px;
                    padding: 0 4px;
                    pointer-events: none;
                    position: absolute;
                    top: 4px;
                    right: 8px;

                    .sign-region-select-no-of-signs {
                        margin-left: 4px;
                    }

                    svg {
                        height: 12px;
                        width: 12px;
                    }
                }
            }
        }

        .sign-video {
            background: var(--silver-lake-blue);
            display: block;
            flex-grow: 1;
            height: 320px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }
}

footer {
    background-color: var(--isabelline);
    border-top: 1px solid var(--black);
    font-size: 12px;
    font-style: italic;
    padding: 16px 0;
    text-align: center;
}